# Compiled output
Deep-Skilling/Angular/Angular_HandsOn/ChapalaSuryaTej/dist
Deep-Skilling/Angular/Angular_HandsOn/ChapalaSuryaTej/tmp
Deep-Skilling/Angular/Angular_HandsOn/ChapalaSuryaTej/out-tsc
Deep-Skilling/Angular/Angular_HandsOn/ChapalaSuryaTej/bazel-out
Deep-Skilling/Angular/Angular_HandsOn/ChapalaSuryaTej/.angular

# Node
Deep-Skilling/Angular/Angular_HandsOn/ChapalaSuryaTej/node_modules
node_modules
npm-debug.log
yarn-error.log

# System files
.DS_Store
Thumbs.db
